<script>var ENSEMBL_START_TIME=new Date();
var SEARCH_BOX_TYPE = 'ensembl_metazoa_search';
var BIOMART_SPECIES = 'Metazoa';
</script>

<table summary="layout table" class="mh">
  <tbody>
    <tr>
      <td id="mh_logo"><a href="/"><img style=""margin-top:10px;" title="Ensembl Genomes Home" alt="Ensembl Genomes Home"
      src="//metazoa.ensembl.org/i/e-ensemblMetazoa.png"></a></td>
      <td id="mh_search">
        <form action="//metazoa.ensembl.org/common/psychic">
          <table summary="layout table" id="se">
            <tbody>
	      <tr>
		<td id="se_but"><img alt="" src="//metazoa.ensembl.org/i/search/ensemblunit.gif"
		id="se_im"/><input type="hidden" value="ensembl"
		name="site" id="se_si"/><img height ="2px"  alt="" style="width: 7px;"
		src="//metazoa.ensembl.org/i/search/down.gif"/></td>
		<td>
<!-- <label for="se_q" class="hidden">Search -->
<!-- 		terms</label> -->

<input type="text" name="q"
		id="se_q"/>
		<input id="se_si" type="hidden" value="" name="site"/>
		</td>
		<td id="se_b"><input type="image" alt="Search>"
		src="//metazoa.ensembl.org/i/search/mag.gif"/></td>
	      </tr>
            </tbody>
	  </table>
	  <input id="search_target" type="hidden" name="genomic_unit"/> 
 
	</form>
      </td>
    </tr>
  </tbody>
</table>


<table summary="layout table" class="mh">
  <tbody>
    <tr>
      <td id="mh_bc"></td>
      <td id="mh_lnk">
	<!-- <a class="" href="//bacteria.ensembl.org" -->
	<!--    style="">Login / Register</a> |  -->
	<a href="//metazoa.ensembl.org/Multi/blastview">BLAST</a> &nbsp | &nbsp
	<a href="//metazoa.ensembl.org/biomart/martview">BioMart</a> &nbsp | &nbsp
	<a href="ftp://ftp.ensemblgenomes.org/pub/metazoa">FTP</a> &nbsp | &nbsp
	<a class="" href="http://ensemblgenomes.org/info/access/biomart"
	   style="">Docs & FAQs</a> 
      </td>
    </tr>
  </tbody>
</table>



