[% # $Id: main.tt,v 1.1.1.1 2013/01/25 11:13:07 ek Exp $ %]

[% #--------------------------------------------------------------------
   # MAIN template where header.tt could be any site specific header.
   # biomart.tt renders complete martView in its own container div
   #--------------------------------------------------------------------
%]
<html>
<head>
  <title>BioMart - MartView</title>
  
  <link rel="stylesheet" type="text/css" href="/[% TAG_path %]/mview/martview.css" />
  <link rel="stylesheet" type="text/css" href="/[% TAG_path %]/mview/taxon.css" />
  <link rel="stylesheet" type="text/css" href="/components/00_ebifonts.css" />

<script src="/[% TAG_path %]/mview/js/martview.js"  type="text/javascript" ></script> 

</head>

<body style="margin: 0px;" onload="setVisibleStatus()">



[% PROCESS 'header.tt' %]


<div id="mart_containerpanel" style=" width:100%; height:80%; overflow:visible;">
<form name="mainform" action="[% form_action %]" method="post" enctype="multipart/form-data">
	<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0">
		[% PROCESS 'biomart.tt' %]
	</table>
	
	<!-- following Iframes must be kept out of the above table otherwise FireFox starts moaning about auto scrolling -->
	<!-- we set display:none (for all browsers) and visibility:hiddden (for Safari & Konqueror) through JS -->
	<iframe id="countIFrameId" name="count_hiddenIFrame" src="about:blank" style="width:0px; height:0px;" 
				onload="getCountAjax();">
	</iframe>				
	<iframe id="resultsIFrameId" name="results_hiddenIFrame" src="about:blank" style="width:0px; height:0px;" 
				onload="getResultsAjax();">
	</iframe>
	
  </form>
</div>
	

<div id="mart_footerStrip" class="mart_footer" style=" width:100%; height:5%; overflow:hidden;">
	<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0">
	<tr>
	<td width="100%" height="100%" align="left" >
		[% PROCESS 'footer.tt' %]
	</td>
	</tr>
	</table>	

</div>

	<script language="JavaScript" type="text/javascript" >
		//<![CDATA[
			datasetpanel_pre_onload([% tbuilder.perlhash2js(js_pushactions_of_datasetmenu) %] , [% tbuilder.perlhash2js(js_datasetpanel_sessions_values) %] , '[% session.param("__Schema") %]', '[% session.param("__Database") %]', '[% session.param("__Dataset") %]', '[% session.param("mergeVS") %]');
		//]]>
	</script>

	[% IF session.param("__validationError") %]
		<script language="JavaScript" type="text/javascript" >
		//<![CDATA[
			alert('[% session.param("__validationError") | replace('\n', '\\n') | replace('\'', '\\\'') %]');
		//]]>
		</script>
	[% END %]

<script src="/[% TAG_path %]/mview/js/00_core.js"  type="text/javascript" ></script>
<script src="/[% TAG_path %]/mview/js/01_prototype_plus_bits_of_scriptaculous.js"  type="text/javascript" ></script>
<script src="/[% TAG_path %]/mview/js/02_debug.js"  type="text/javascript" ></script>
<script src="/[% TAG_path %]/mview/js/06_core.js"  type="text/javascript" ></script>
<script src="/[% TAG_path %]/mview/js/searchbox.js"  type="text/javascript" ></script>

<script type="text/javascript" src="/[% TAG_path %]/mview/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/[% TAG_path %]/mview/js/00_jquery_ui.min.js"></script>
<script type="text/javascript" src="/[% TAG_path %]/mview/js/01_jquery.dynatree.js"></script>
<script type="text/javascript" src="/[% TAG_path %]/mview/js/10_TaxonSelector.js"></script>
<script type="text/javascript" src="/[% TAG_path %]/mview/js/10_OLS.js"></script>

</body>
</html>
